<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="avatar">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grid">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Grid</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Progress</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
