<app-header titulo="card"></app-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <img class="ion-padding" alt="Silhouette of mountains" src="assets/hasbulla5.png" />
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quod numquam corrupti. Vitae aperiam adipisci aut ex, deserunt tenetur sequi. Perferendis autem cum, aliquid assumenda odit tenetur praesentium sed unde.
    </ion-card-content>
  </ion-card>
  

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcado</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repellendus at ut omnis consequuntur suscipit dolor! Quos, obcaecati impedit animi magnam quidem iste! Nostrum saepe praesentium impedit aliquid minima atque?
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/hasbulla4.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/hasbulla4.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/hasbulla4.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="assets/hasbulla4.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
